h1{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1792ok3*_ga*ODI3OTQyMzIyNS4xNjg1NjMzNjkz*_ga_3LRZM6TM9L*MTY4ODY2MTgwMi4yMC4xLjE2ODg2NjMwNzIuNTcuMC4w');
}

#brushes{
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}
#paint{
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}
#frames{
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.hlink{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}
p{
    display: inline;
}
.none{
color:blue;